name: Java CI

on: 
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        
    - name: install wcslib-5.15 from source (ugh)
      run: |
        sudo apt-get update && sudo apt-get install -y curl gcc make \
        && curl -Lv -o /tmp/wcslib.tar.bz2 https://launchpad.net/ubuntu/+archive/primary/+sourcefiles/wcslib/5.15-1/wcslib_5.15.orig.tar.bz2 \
        && cd /tmp/ \
        && tar jxvf wcslib.tar.bz2 \
        && cd wcslib-5.15 \
        && ./configure --prefix=/usr \
        && make && sudo make install

    - name: java build -- cadc-wcs
      run: cd cadc-wcs && ../gradlew -info clean build javadoc
      
    - name: java build -- jsky
      run: cd jsky && -info clean build javadoc
